.todo-page {
 text-align:center;
 min-height: 100vh;
 background-color: white;
}

.todo-lists{

  margin:auto;
  width:550px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 3px 6px 40px black;
  margin-bottom: 10px;
  background-image: url('../images/lists-bg.jpg');
}

.todoList{
  font-size: 2vw;
  font-weight: bold;
  display:flex;
  justify-content: space-between;
  height:70px;
  padding: 10px 20px;
  margin: 5px 0;
  border-radius: 20px;
  color: black;
  background-color: hsl(323, 77%, 79%);
}

.todoList .todoList-name{
  width:300px;
}

.todoList .edit-delete-button{
  float:right;
}

.todoList:hover{
  background-color:aqua;
  cursor: pointer;
}

  
  input:focus,
  button:focus{
    outline: none;
  }