/* .form-group{
    background-color: red;
} */


.todo-lists-container>h1{
  color: black ;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.todo-page {
 text-align:center;
 min-height: 100vh;
 /* background-image: url('../images/bg.jpg'); */
 background-color: white;
}

.todo-lists{
  /* text-align: center; */
  /* margin-top:20px; */
  margin:auto;
  width:550px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 3px 6px 40px black;
  margin-bottom: 10px;
  background-image: url('../images/lists-bg.jpg');
}

/* .list-input{
  outline: none;
  font-family: sans-serif;
  width: 700px;
  padding: 15px;
  margin-right: 25px;
  font-size: 20px;
  color:black;
  background-color:white;
  border: 1px solid black;
  border-radius: 10px;
} */

/* .list-item{
  background-color: #7db46c;
  height: 50px;
  margin:5px;
  border-radius:0;
  width:693px;
  font-size: 30px;
  color:brown;
  cursor:pointer;
}
.list-item:hover{
  background-color: rgb(184, 221, 236);
} */


/* .edit-delete-button{
  margin-right:20px;
} */

/* ul{
  margin-top: 50px;
  list-style-type: none;
  background-color: #7db46c;
 background-image: url('../images/list-bg.jpg');
  min-height: 100vh;
  padding:10px
}
ul.todo-lists{
  background-color: black;
}
ul li{
  margin:5px;
  text-align: right;
  color: blue;
  background-color: #90EE90;
  height: 50px;
  font-size: 30px;
  border-bottom: 2px solid; */
  /* border: solid;
  margin-bottom: 5px
} 
ul span{
 text-align: left;
} */ */



/* .edit-delete-button{
  position: right;
} */
/*
.todo_lists{
    text-align: center;
    width: 75px;
    height: 75px;
    background-color: beige;
}

.todo_lists>header {
    margin: 0 80px;
    padding: 30px;
    background-color: #e34b99;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  } */

  * {
    margin: 0;
    padding: 0;
  }
/*   
  .container{
    background: linear-gradient(to right bottom, #e1b382, #c89666);
    width: 100%;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items:center;
  } */
  
  /* .app-wrapper{
    background-color: #12343b;
    min-width: 450px;
    min-height: 650px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 3px 6px 40px black;
    margin-bottom: 10px;
  } */
  
  /* .header h1{
    color: white;
    text-align: center;
    margin: 30px 0;
  } */
  
  /* .task-input{
    outline: none;
    width: 260px;
    padding: 15px;
    margin-right: 25px;
    font-size: 20px;
    color: #ccc;
    background-color: black;
    border: 1px solid #c89666;
    border-radius: 10px;
  } */
  
  /* .button-add{
    width: 70px;
    padding: 15px 15px;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
    background-color: #f1af71;
    cursor: pointer
  }

  .list-item>span{
    width:693px;
  } */
  
  /* .list-item{
    display: flex;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    max-height: 30px;
  } */
  
/* li span{
  width:100px
} */
/* span.list-entry-name{
  width:300px;
} */

  /* .button-delete,
  .button-edit{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 28px;
    border-radius: 50%;
  }
  
  .button-edit{
    color: #e2d029;
    margin-right: 10px;
  }
  
  .button-delete{
    color: lightseagreen;
  }
  
  .list{
    width: 220px;
    background-color: #12343b;
    border: none;
    color: #ccc;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 15px;
  } */
  
  input:focus,
  button:focus{
    outline: none;
  }